{
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/**/*.spec.ts",
        "src/**/*.d.ts"
    ],
    "extension": [
        ".ts"
    ],
    "reporter": [
        "lcov",
        "html"
    ],
    "sourceMap": true,
    "instrument": true
}
