html, body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    overflow: auto;
}

div {
    overflow: auto;
}

#app {
    overflow: auto;
}

.flex-box {
    display: flex;
}

.blockSidebar {
    width: 240px !important;
    min-width: 240px !important;
    overflow: visible;
}

.block-logo-container {
    padding: 120px 56px 0 72px;
}

.block-logo {
    padding: 18px 27px 18px 9px;
}

.block-logo-bg {
    padding: 17px 19px 21px 20px;
    background-color: #357CFF;
}
.block-logo-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: white;
}

.blocks-list {
    margin: 52px 83px 0 81px;
    max-width: 76px;
    overflow: visible;
}

.content {
    width: 100%;
}
.block-content {
    padding-top: 64px;
    padding-left: 85px;
}
.pair {
    display: flex;
    align-items: center;
}

.minW130 {
    min-width: 130px;
}

.label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    padding: 16px;
    color: #A7B5D1;
}

.value {
    color: #273656;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 11px 16px 13px;
}
.counter-container {
    padding: 10px 8px;
}
.tx-counter {
    background-color: #273656;
    padding: 1px 8px 3px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.erc-counter {
    background-color: #48E2A2;
    padding: 1px 8px 3px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 500;
}

.txs-table-container {
    padding-top: 16px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #F7F8FA;
}
.table {
    width: 100%;
    border-bottom: solid 1px #D9E4EF;
    border-spacing: 0;
}
.first-column {
    padding: 7px 32px 8px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #273656;
    border-right: 1px solid #D0DEF2;
}

.normal-column {
    padding: 7px 32px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #273656;
    text-align: center;
    border-right: 1px solid #D0DEF2;
}

.last-column {
    text-align: left;
    padding: 7px 32px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #273656;
}

.normal-column a {
    text-decoration: none;
    color: #357CFF;
}

.normal-column a:visited {
    color: #357CFF;
}
.th-wrap {
    padding: 9px 32px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #A7B5D1;
    background-color: #F7F8FA;
    border-right: 1px solid #D0DEF2;
    border-bottom: 1px solid #D0DEF2;
    border-spacing: 0;
    margin: 0;
    cursor: pointer;
}
.is-sortable {
    padding: 0;
}
.is-current-sort .th-wrap {
    padding: 9px 32px;
    margin: 0;
}
.table-mobile-sort {
    display: none;
}
.pagination {
    display: flex;
    align-items: center;
}
.is-desc i:before {
    transform: rotate(180deg);
}
th:first-child {
    text-align: right;
}
th:last-child {
    text-align: left;
}
